include README.md
include rocommand/test/config/*
include rocommand/test/robase/*
include rocommand/test/nobase/*
include rocommand/test/config/README
include rocommand/test/data/ro-test-1/subdir1/*
include rocommand/test/data/ro-test-1/subdir2/*
include rocommand/test/data/ro-test-1/*.rdf
include rocommand/test/data/ro-test-1/README*
include iaeval/test/config/README
include iaeval/test/robase/*
include iaeval/test/data/data/*
include iaeval/test/data/docs/*
include iaeval/test/data/*.rdf
include sync/test/config/README
include sync/test/robase/*
include samples/*.sh
include samples/prefixes.*
include samples/README*
